@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:ital,wght@1,300;1,700&family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --verde:  rgb(184, 255, 231);
}
body{
    font-family: ;
    font-size: 20px;
}
.cabecalho{
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 100%;
    box-shadow: 6px 6px 6px rgba(128, 128, 128, 0.652);
    padding: 15px;
}
@media(max-width:650px){
    .cabecalho{
        flex-direction: column;
        background-color: black;
    }
}
.logo{
    height: 60px;
    width: 60px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    list-style-type: none;
}
nav > ul > li > a{
    text-decoration: none;
    padding: 20px;
    color: black;
}
.cabecalho > div > ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 100%;
}
div > ul > li > a{
    text-decoration: none;
    padding: 20px;
    color: black;
}
.entrar{
    background-color: rgba(240, 248, 255, 0);
    border: 4px solid black;
    border-radius: 20px;
    padding: 12px;
}
.participe{
    color: white;
    background-color: black;
    border: 4px solid black;
    border-radius: 24px;
    margin: 10px;
    padding: 12px;
}
main{
    max-width: 1300px;
    text-align: center;
    margin: 0 auto;
}
.img1{
    width: 100%;
    height: 100%;
}
.saude{
    margin-top: 20px;
    background-color: var(--verde);
    padding: 3%;
}
.saude > p{
    margin-bottom: 30px;
}
.saiba{
    text-decoration: none;
    color: black;
    background-color: rgba(240, 248, 255, 0);
    border: 3px solid black;
    border-radius: 20px;
    margin: 5%;
    padding: 12px;
}
.div2{
    background-color: var(--verde);
    margin-top: 20px;
    display: flex;
}
.img2{
    width: 50%;
}
.texto2{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.div3{
    background-color: var(--verde);
    margin-top: 20px;
    display: flex;
}
.img3{
    width: 50%;
}
.texto3{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
div > h2{
    margin-bottom: 30px;
}
footer{

    background-color: white;
    margin-top: 20px;
    height: 100%;
    padding: 15px;
    border-top: 4px solid rgb(205, 202, 202);
    font-size: small;

}
.info{
    display: flex;
    justify-content: center;
}
li{
    list-style-type: none;
}
.redes{
text-align: center;
margin: 20px;
}
.company{
    text-align: center;
    margin: 30px;
    color: rgb(154, 154, 154);
    font-size: smaller;
}